@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /* Header/// */

  /* header {
    
  } */

  header{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/1.jpg);
    background-position: center;
    background-size:cover;
  }
  .header_container{
    background-color: #044258;
    margin: 0 40px;
    
  }
  h1{
    font-size: 30px;
  }
  .content_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px 0 100px;
    padding: 10px 0;
    color: white;
    
  }
  
  .menu-bar {
    text-align: center;
  }
   ul.first_list  {
    display: flex;
    list-style: none;
  }
  ul.first_list a:hover  {
    color: #0ac6fc;
  }
  ul.second_list {
   position: relative;
    list-style: none;
    top: 25px;

  }
  
  ul.third_list{
    list-style: none;

  }
  .menu-bar ul li{
    font-size: 17px; 
    padding: 15px;
    
    cursor: pointer;
    
  }
  .menu-bar ul li a {
    text-decoration: none;
    color: white;
  }
  .submenu ul{
    display: none;
  }
  
  .menu-bar ul li:hover .submenu {
    position: absolute;
  }
  
  .menu-bar ul li:hover .submenu ul {
    display: block;
    
  }
  .submenu ul li {
    background-color: hsla(196, 74%, 48%, 0.644);
    width: 180px;
    color: white;
    text-align: left;
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    font-weight: 600;
    font-size: small;
    
  }
  .submenu ul li:hover {
    color: white;
    background-color: #0ac6fc;
    transition: 3s;
  }
  .submenu2 {
    display: none;
    color: white;
  }
  .menu2:hover .submenu2 {
    position: absolute;
    display: block;
   margin-top:-58px;
    margin-left: 163px;
  }

  .header_description{
margin: 0 40px;
margin-right:110px ;
color: white;
display:flex ;
flex-direction: column;
gap: 1.5rem;
  }
  .header_details{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 100px 0 130px 0;;
  }
  .header_description h2{
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom:5px ;
  }
  .header_description p{
    font-size: 20px;
    letter-spacing: 2px;
   
    
  }
  .button {
    display: flex;
    gap: 1rem;
    
  }

  .button p a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  a.integer{
    background-color: #0ac6fc;
    padding: 15px;
    border-radius: 1.2rem;
  }
  a.egestas{
    padding: 15px;
    border-radius: 1.2rem;
    border: 1px solid white;
  }

  a.integer:hover {
background-color: transparent;
border: 1px solid white;
transition: ease-in 1s;
  }

  a.egestas:hover {
    background-color: #0ac6fc;
    transition: ease-out 1s;
  }
  
  i.fa-caret-down{
    font-size: 13px;
  }
  .dropdown {
    display: none;
  }
  

/* section1/ */

.section1{
    background-color: #026b8a;
}

.section1_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 105px;
    padding: 90px 0;
    
}
.contact_button {
    display: flex;
    align-items:center;
    color:white;
    gap: 1rem;
}
i.details{
    font-size: 15px;
    padding: 20px;
    border-radius: 50%;
    background-color: #1e94b8;
    color: hsla(193, 98%, 51%, 0.884);

}

i.fa-map-marker{
    font-size: 15px;
    padding: 19px 22px;
    border-radius: 50%;
 
}

.contact_button:hover i.details {
    color:white;
    background-color: #0ac6fc;
    transition:ease-in-out 1s;
}
a.location{
  text-decoration: none;
  color: #0ac6fc;
}
.contact_button h4{
 
  font-size: 15px;
}


/* section2//// */

.section2_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 105px;
    padding: 80px 0 70px 0;
    
}
p.header_paragraph{
    font-size: 12px;
}
h4.header_h4{
    font-size: 14px;
}
.section2_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sction2_description{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px ;
    row-gap: 70px;
    margin-top: 60px;
}
.icons_container{
    border: 1px solid #0ac6fc;
    width: 100%;
    height: 100%;
}
i.section2_icons{
    float:right;
   position: relative;
    top: -25px; 
    right: 20px;
    color:white;
    background-color: #044258;
    padding: 17px;
    font-size: 25px;
    
}
.icons_detail{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgba(0, 0, 0, 0.849);
    width: 90%;
    padding-left: 30px;
    position: relative;
    top: -25px;
  
}
a.more_details{
    color: rgba(0, 0, 0, 0.849);
    text-decoration: none;
    font-size: 14px;
}
.icons_container:hover{
    background-color: #0d6788;
    transition: 0.5s;
}
.icons_container:hover i.section2_icons{
    color: white;
    background-color: #0ac6fc;
    transition: 0.5s;
}
.icons_container:hover .icons_detail{
    color: white;
    transition: 0.5s;
}
.icons_container:hover  a.more_details{
    color: #0ac6fc;
}

/* section3///// */
.section3{
    background-image: url(./img/2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.section3_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.section3_header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.section3_decription{
    background-color: white;
    display: flex;
    margin: 0 40px;
    padding: 30px;
    
}
.all_list{
display: flex; 
 color: rgba(0, 0, 0, 0.726);
gap: 170px;
}
.list1{
  display:flex ;
  flex-direction: column;
  gap: 20px;
}
.list2{
  display:flex ;
  flex-direction: column;
  gap: 20px;
}
.section3_datails{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 20px;
}
.details_header{
  
   display: flex;
   flex-direction: column;
   gap: 15px;
   color: rgba(0, 0, 0, 0.726);
}
.section3_image{
    position: relative;
}
i.overlay{
    font-size: 50px;
    color: hsla(208, 100%, 97%, 0.486);
    position: absolute;
    opacity: 0;
  transition: .2s ease-in-out;
  padding: 40%;
  padding-top: 170px;
  height: 100%;
  width: 100%;
  background-color: hsla(194, 61%, 81%, 0.658);
  top: 0;
  left: 0;
}

.section3_image:hover i.overlay{
    cursor: pointer;
    opacity: 0.8;
    z-index: 1;
}

.section3_p{
    font-size: 12px;
}
h3.header_h3{
    font-size: 14px;
}

p.digits{
    padding: 12px;
    padding-top: 5px;
    height: 30px;
    width: 30px;
    background-color: #0ac6fc;
    border-radius: 50%;
    color: white;
    font-size: 13px;
}
.list{
    display: flex;
    gap: 10px;
    align-items: center;
}

h3.details_header{
    font-size: 15px;
}
.details_header p{
    font-size: 15px;
}

.list:hover p.digits{
    background-color:  #0d6788;
    transition: ease-in-out 0.5s;
}


/* section4/// */

.section4{
    margin: 0 100px 0 105px;
    padding: 100px 0 50px 0;
}
.section4_images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.section4_profile_container{
    display: flex;
    width: 90%;
    color: rgba(0, 0, 0, 0.61);
    margin: 20px 0 10px 0 ;
    font-size: 13px;
    gap: 5px;
}
.section4_about{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap:10px;
}
.section4_header{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom:25px ;
}
.section4_header p{
    font-size: 12px;
}
.section4_about p{
    font-size: 15px;
}
.section4_imagecontainer img {
width: 90%;
height: 100%;
}


.section4_imagecontainer2 img{
    width: 90%;
    height: 100%;
   
}
.overlay_image{
  position: relative;
}

i.overlay1 {
  font-size: 50px;
  color: hsla(208, 100%, 97%, 0.486);
  position: absolute;
  opacity: 0;
padding: 30% ;
top: 0;
left: 0;
background-color: hsla(194, 61%, 81%, 0.658);
height: 100%;
width: 90%;

}

.overlay_image:hover i.overlay1{
  cursor: pointer;
  opacity: 0.8;
  z-index: 1;
}

.section4_about h4{
    color: #0ac6fc;
    font-size: 17px;
}
i.user{
    font-size: 15px;
}
a.admin{
    color: #0ac6fc;
    text-decoration: none;
}
.section4_imagecontainer img{
  display: block;
  
}
.section4_imagecontainer2 img{
display: block;

}




/* section5/// */

.section5{
    background-color: #044258;
}
.section5_container{
    
    display: flex;
    gap: 30px;
    margin: 0 58px;
    padding: 70px 0;
}
.section5_header{
    width: 36.4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding-right: 7px;
}
a.dots{
    color: #0ac6fc;
    text-decoration: none;
}
.section5_header h4{
    font-size: 14px
}
.section5_header p{
    font-size: 15px;
}
.social_mediacontainer{
    display: flex;
    font-size: 15px;
    gap: 6px;
}
.social_mediacontainer i {
    padding: 12px;
    background-color: #0a5f7e;
}


.fa-facebook-square, .fa-twitter,.fa-linkedin-square, .fa-google-plus, .fa-vk {
color: white;
}
  .fab:hover{
  background-color: hsla(231, 42%, 45%, 0.486);
  transition: 1s;
}
.fa-google-plus:hover{
  background-color:red ;
  transition: 1s;
}
.fa-twitter:hover {
  background-color: #0ac6fc;
  transition: 1s;
}
.fa-linkedin-square:hover{
  background-color: #0ac6fc;
  transition: 1s;
}
.section5_details{
width: 20%;
position: relative;
   top:10px;
}
.section5_details h4{
  color: white;
  font-size: 14px
}

.section5_details a{
  color: #0ac6fc;
  text-decoration: none;
  border-bottom: 1px solid #1f657a;
  padding-bottom: 10px;
  font-size: 15px;
}
.link_paragraph{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
 
}
.section5_form{
  position: relative;
  bottom:20px;
    color:white;
}
.section5_form h4 {
  font: 14px;
  margin-bottom: 20px;
}
.section5_form p{
  font-size: 16px;
  margin-bottom: 10px;
}
.section5_form input{
  padding: 15px 10px 15px 10px;
  width: 100%;
  border-radius: 13px;
  background-color: #2c748f;
  border: none;
  
}
.section5_form button{
  background-color: #0ac6fc;
  padding: 10px;
  border-radius: 0.8rem;
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
  color: white;
  font-weight: 500;
  border: none;
  margin-top: 10px;
}
.section5_form button:hover {
  background-color: transparent;
  border: 1px solid white;
  transition: ease-in 1s;
  }
.label_input{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section5_date{
   position: relative;
   bottom:20px;
   left:10px;
}
.section5_date h4{
  font-size: 14px;
  color: white;
  margin-bottom: 17px;

}

.section5_date span{
  color: #0ac6fc;
}
.section5_date p{
  font-size: 15px;
}
p.paragraph_border{
  font-size: 16px;
  border-bottom: 1px solid #1f657a;
  margin-top: 28px;
  color: white;
  padding-bottom: 10px;
}
p.different_color{
  color:#0ac6fc;
  margin: 20px 0 55px 0;
}

p.date {
  color: white;
}
p.date2{
  color:white;
  font-size: 17px;
  margin-bottom: 25px;
}

p.date2_details{
  color: white;
  font-size: 14px;
  
}

/* footer/// */
footer{
  background-color: #0a5f7e;
}

.footer_container{
  display: flex;
  margin: 0 58px;
  padding: 15px 0 40px 0;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}

.fixed_icon {
  font-size: 23px;
  background-color: #50c6c6;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  position: fixed;
  right: 0.5rem;
  bottom: 1.5rem;
}
.fixed_icon a{
  color: white;
}


  /* media  */

  @media screen and (max-width:1084px){
    .content_container{
      margin: 0 40px 0 70px;
      padding: 10px 0;
      color: white;
      
    }
  }

  @media screen and (max-width:996px){
    .menu-bar{
      display: none;
    }

    .header_container{
  
      margin: 0 30px;
      
    }


  .dropdown {
    position: relative;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.151);
    z-index: 10;
    width: 95%;
  }

  .dropdown_hover {
    display: flex;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color:black;
    background-color: white;
    margin-top: 3px;
  }

  .dropdown_menu {
    position: absolute;
    background-color: white;
    display: none;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1000%;
    overflow: scroll;
    padding-left: 20px;
    line-height: 35px;
    
  }
  
  .dropdown_menu a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 1px;
   
  }
  
  a.first-list{
    color: black;
    font-size: 20px;
    
  }

  .dropdown_menu a:hover {
  
    background-color: blue;
  
  }
  .dropdown:hover .dropdown_menu { 
    display: block;
    
  }
  .content_container{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .button{
    flex-direction: column;
    gap: 50px;
  }
  .header_description{
    margin: 0 40px 0 30px ;
  }
  .header_description h2{
    font-size: 30px;
    
  }
  .header_description p{
    font-size: 15px;
  
  }

  /* section1/// */
  .section1_container{
   flex-direction: column;
   align-items: start;
   margin: 0 30px;
   gap: 20px;
   padding: 40px 0 90px 0;
  }
  /* section2/// */
  .sction2_description{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.icons_detail{
  gap: 15px;
  color: rgba(0, 0, 0, 0.849);
  width: 100%;
  padding: 5px 50px 5px 30px;
  position: relative;
  margin-top: 50px;
 
}
.icons_detail p{
  color: black;
  font-size: 17px;
}
.section2_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

/* section3/// */
.section3_decription{
flex-direction: column;
  margin: 0 40px;
  padding: 30px;
  
}
.all_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.section3_image img{
  width: 100%;
  height: 100%;

}
i.overlay{
 padding: 50%;
 padding-top: 50% ;

}
.section3_decription{
  margin: 0 30px;
}

/* section4//// */
.section4_imagecontainer img{
  width: 100%;
height: 100%;
  
}
.section4_imagecontainer2 img{
width: 100%;
height: 100%;

}
.section4_images{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}
.section4{
  margin: 0 70px 0 70px;
}
i.overlay1 {
  font-size: 50px;
  color: hsla(208, 100%, 97%, 0.685);
padding: 30% ;
width: 100%;
padding-left: 50%;
}
/* section5/// */

.section5_container{
    
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 58px 0 40px;
  padding: 70px 0;
}

.section5_header{
  width: 100%;
 margin-bottom: 40px;
}
.section5_details{
  width: 100%;
 margin-bottom: 40px;

  }
  .section5_date{
top:0;
left: 0;
    
 }

 /* footer/// */
 .footer_container{
  display: flex;
  margin: 0 58px;
  padding: 15px 0 40px 0;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}
.footer_container{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  padding: 15px 0 40px 0;
  gap: 20px;
  align-items: start;
  font-size: 14px;
}

  }
@media screen and (max-width:500px){
  .section2_container{
    margin: 0 20px;
  }
  .section3_decription{
    margin: 0 15px;
  }
  
  .section4{
    margin: 0 20px;
  }
}

 